.button {
	transition-property: var(--notblocknet-transition-property-common) !important;
	transition-duration: 350ms !important;
}

.question-expanded {
	color: #bfffff !important;
}

.arrow {
	transition: transform 350ms;
}

.arrow-expanded {
	transform: rotate(180deg);
}

.button:hover .question {
	color: #bfffff;
}

.shadow {
	transition-property: var(--notblocknet-transition-property-common) !important;
	transition-duration: 350ms !important;
	pointer-events: none;
}
