@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

a:focus,
button:focus {
	box-shadow: none !important;
}

* {
	-webkit-tap-highlight-color: transparent !important;
	scroll-behavior: smooth;
}
